@model Lab.MVC.Models.TerritoriesView
@{
    ViewBag.Title = "Territories Page";
}
<h1>Modificar un territorio</h1>


    @using (Html.BeginForm("Update", "Territories", FormMethod.Post))
    {

        <label>ID: </label>
        @Html.TextBoxFor(t => t.TerritoriesId)
        <label>Name: </label>
        @Html.TextBoxFor(t => t.TerritoriesName)
        <label>Region: </label>
        @Html.TextBoxFor(t => t.TerritoriesRegion)

    <input type="submit" class="btn btn-danger" value="Guardar" />

    }


